:root {
    --myblue: #003C83;
    --obslightgold: #ecdabd;
    --obsblack: #000000;
    --obswhite: #ffffff;
    --obsdarkgray: #3c4043;  
    --text:      #003C83;
    --montserrat: Montserrat, sans-serif;
    --heavy:   800;
    --bold:   700;
    --medium:  500;
    --regular: 400;
    --light: 300;
  }

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    text-overflow: hidden;
    overflow: hidden;
  }

.title-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    text-overflow: hidden;
    overflow: hidden;
  }

.navbar {
    background-color: white;
    position: top;
    margin-bottom: 0;
    z-index: 9999;
    border: 0;
    font-size: 18px;
    line-height: 1.42857143;
    letter-spacing: 4px;
    border-radius: 0;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 2rem;
    padding-right: 2rem;
}


.navbar-nav li a {
    color:var(--myblue);
    padding: 0 0.5rem;
}
.navbar-nav li a:hover,
  .navbar-nav li.active a {
    background-color: var(--myblue) !important;
    color: #ffffff !important;
}
  
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff;
}

p {
  text-align:justify;
}

@media print {
  .navbar-toggler {
    display:none;
  }
  .container {
    max-width: max-content;
    width: 95%;
  }
 }