{% extends 'base.html' %}
{% block title %}Emplois{% endblock %}

{% block content %}

<div>
    <h1>Titre d'emploi</h1>
    <p>Début et fin</p>
    <p>Résumé</p>
    <p>Intérêts et compétences</p>
</div>

<div>
    FCAAP
        Dév web
        Droits des patients
        Analyse de données
    CSSSPNQL
        Droits des patients
        Pédagogie
        Analyse de données
    IREC
        Analyse de données
        Droits des personnes âgées
    Soutien Cégep
        Pédagogie
        Office 365
    Maîtrise
        Droit des patients
        Neurodiversité
        Pédagogie
    Intervention
        Droit des patients
        Pédagogie

</div>
{% endblock %}