{% extends 'base.html' %}
{% block header %}{% endblock %}
{% block title %}Curriculum Vitae{% endblock %}

{% block content %}
<div class="container">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm position-relative d-flex">
        <div class="col-sm-4 bg-light p-4">
            
            <h2>Coordonnées</h2>
            <p><i class="fa-solid fa-map"></i> {{ data["user"][0][4] }}</p>
            <p><i class="fa-solid fa-phone"></i> {{ data["user"][0][2] }}</p>
            <p><i class="fa-solid fa-envelope"></i> {{ data["user"][0][3] }}</p>
            <a href="https://www.linkedin.com/in/mfgiguere/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
            <a href="https://github.com/MFGiguere" target="_blank"><i class="fab fa-github"></i></a></li>
            <a href="https://www.researchgate.net/profile/Maxime-F-Giguere" target="_blank"><i class="fab fa-researchgate"></i></a></li>
    </div>

        <div class="col-sm-8 p-4">
            <h1>{{ data["user"][0][0] }} {{ data["user"][0][1] }}</h1>
        </div>


    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm position-relative d-flex">
        <div class="col-sm-4 align-items-stretch p-4 g-0">                
                    <h5 class="mb-0">Langues</h5>
                {% for post in data["skills"] if post[0] == "langue" %}
                <label for="{{ post[1] }}">{{ post[1] }}</label>
                <progress id="{{ post[1] }}" value="{{ post[2] }}" max="100" class="progress">{{ post[2] }}</progress>
                {% endfor %}
                    <h5 class="mb-0 mt-3">Intérêts</h5>
                {% for post in data["skills"] if post[0] == "recherche"  %}
                <label for="{{ post[1] }}">{{ post[1] }}</label>
                <progress id="{{ post[1] }}" value="{{ post[2] }}" max="100" class="progress">{{ post[2] }}</progress>
                {% endfor %}
            </div>
    <div class="col-sm-8 align-items-stretch p-4 mb-4">

    <h3><i class="fa-solid fa-school"></i> Études</h3>
    {% for post in data["experiences"] if post[0] == "etudes"%}
                <div class="mb-2"><p class="mb-0"><i class="fa fa-calendar-o"></i>   {{ post[4] }} à {% if post[5] %}{{ post[5] }}{% else %}auj.{% endif %}</p>
                <h5 class="mb-0 title-clamp">{{ post[1] }}</h5> 
                {% if post[2] %}
                    <p>{{ post[2] }}<a href="{{ post[3]}}"><i class="fas fa-link" ></i></a></p>
                {% endif %}   
            </div>
    {% endfor %}
    
</div></div>



<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm position-relative d-flex">
            
    <div class="col-sm-4 align-items-stretch p-4 g-0">
        <h5 class="mb-0">Compétences</h5>
    {% for post in data["skills"] if post[0] == "competences" %}
    <label for="{{ post[1] }}">{{ post[1] }}</label>
    <progress id="{{ post[1] }}" value="{{ post[2] }}" max="100" class="progress">{{ post[2] }}</progress>
    {% endfor %}

    <h5 class="mb-0 mt-3">Compétences techniques</h5>
                {% for post in data["skills"] if post[0] == "technical" %}
                <label for="{{ post[1] }}">{{ post[1] }}</label>
                <progress id="{{ post[1] }}" value="{{ post[2] }}" max="100" class="progress">{{ post[2] }}</progress>
                {% endfor %}
            </div>
                <div class="col-sm-8 align-items-stretch p-4 g-0"> 
                    <p><h3><i class="fa-solid fa-briefcase"></i> Certifications</h3></p>
                        {% for post in data["experiences"] if post[0] == "certifications" %}
                                    <span><i class="fa fa-calendar-o"></i>   {{ post[4] }} à {% if post[5] %}{{ post[5] }}{% else %}auj.{% endif %}</span> 
                                    <h5 class="mb-0 title-clamp">{{ post[1] }}</h5> 
                                    {% if post[2] %}
                                        <p>{{ post[2] }}<a href="{{ post[3]}}"><i class="fas fa-link" ></i></a></p>
                                    {% endif %}
                        {% endfor %}
                    </div>
</div>

<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm position-relative d-flex flex-column">
    <div class="col-sm-4 align-items-stretch"></div>
    <div class="col-sm-8 align-items-stretch px-4 mt-4">
    <h3><i class="fa-solid fa-briefcase" ></i> Emplois</h3></div>
    <div class="col-sm-12 align-items-stretch p-4 g-0" style="column-count: 2; column-gap: 3rem;">
    
    {% for post in data["experiences"] if post[0] == "emplois" %}
                <span><i class="fa fa-calendar-o"></i>   {{ post[4] }} à {% if post[5] %}{{ post[5] }}{% else %}auj.{% endif %}</span> 
                <h5 class="mb-0 title-clamp">{{ post[1] }}</h5> 
                {% if post[2] %}
                    <div class="mb-1 text-body-secondary">{{ post[2] }}<a href="{{ post[3]}}"></h1><i class="fas fa-link" ></i></a></div>
                {% endif %}
                <ul>
                {% set list1 = post[8].split('., ') %}
                {% for item in list1 %}
                    <li style="text-align:justify">{{ item }}</li>
                {% endfor %} 
                </ul>
    {% endfor %}

</div>
</div>
<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm position-relative d-flex">
        <div class="col-sm-6 align-items-stretch p-4 g-0">    
            <p><h5><i class="fa-solid fa-briefcase"></i> Publications</h5></p>
            {% for post in data["writings"] %}
                        <p>{{ post[0] }} ({{ post[3][:4]}}). <i>{{ post[2] }}{% if post[1] %} ({{ post[1] }}){% endif %}</i> <a href="{{ post[4]}}"></h1>[url]</a></p>
            {% endfor %}

        </div><div class="col-sm-6 align-items-stretch p-4 g-0">    
            <p><h5><i class="fa-solid fa-briefcase"></i> Communications</h5></p>
            {% for post in data["communications"] %}
                        <p>{{ post[0] }} ({{ post[3][:4]}}). <i>{{ post[2] }}{% if post[1] %} ({{ post[1] }}){% endif %}</i> <a href="{{ post[4]}}"></h1>[url]</a></p>
            {% endfor %}
            </div>

            
        </div>

{% endblock %}